<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <title>Index</title>
  <style media="screen">
    body {
      font-family: 'sans-serif', arial;
      line-height: 1.2;
      background-color: #111;
    }
    div {
      margin: 10px auto;
      max-width: 500px;
      box-shadow: 1px 1px 3px #fafafa;
      border-radius: 5px;
      padding: 1em;
    }
    button, select {
      border-radius: 5px;
      padding: 5px;
      font-size: 1.2em;
      display: block;
      margin-bottom: 1em;
      width: 100%;
    }
  </style>
</head>
<body>

<div class="">
  <select id="status">
    <option value="">Select Action</option>
    <option value="accept">Accept</option>
    <option value="start">Start</option>
    <option value="complete">End</option>
    <option value="cancel">Cancel</option>
  </select>
  <button type="button" id="submit">Confirm Booking</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs=" crossorigin="anonymous"></script>
<script>
  const socket = io('http://localhost:5000');

  socket.on('connect', () => {
    const driverId = '5d8168413debcf0b68d1e800';
    let driversCurrentData = {
      'socketId': socket.id,
      'longitude': '3.393835',
      'latitude': '6.543641'
    };

    $.ajax({
      type: 'PUT',
      url: '/api/v1/driversLocations/' + driverId,
      dataType: 'json',
      data: driversCurrentData
    }).done(function (response) {
      console.log(response)
    });

    const driverRequest = driverId + 'towRequest';
    const driverAcceptedRequest = driverId + 'acceptedTowRequest';

    // if you become a nearby driver you get inserted into the queue right and so your socket.id is used in the request
    socket.on(driverRequest, (data) => {
      console.log('driverRequestListen', data);
      console.log('User looking for a tow', data.booking);
    });

    socket.on(driverAcceptedRequest, (data) => {
      console.log('accepted')
      if (data.hasAccepted) {
        console.log('hasAccepted', data);
        socket.disconnect();
      }
    });

    // if driver accepts
    $('#submit').on('click', function(e) {
      e.preventDefault();
      switch ($('#status').val()) {
        case 'accept':
          socket.emit(driverAcceptedRequest, {hasAccepted: true}, () => {
            console.log('accepted')
          });
          break;
        case 'start':
          break;
        default:
          return;
      }
    });
  });

</script>

</body>
</html>
